<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CSJ2K.Android.Test.CSJ2K.Android.Test" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="CSJ2K.Android.Test"></application>
</manifest>